@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'GraffitiFont';
    src: url('graffiti.ttf') format('truetype');
}

@font-face {
    font-family: 'SFProFont';
    src: url('sanfrancisco.ttf') format('truetype');
}