/* progress bar */

#nprogress .bar {
	background-color: hsl(var(--primary)) !important;
}

/* scroll bar */

@supports (scrollbar-color: auto) {
	* {
		scrollbar-color: hsl(var(--background) hsl(var(--primary)) );
		scrollbar-width: auto;
	}

	*::-webkit-scrollbar {
		width: 1em;
	}

	*::-webkit-scrollbar-track {
		background-color: hsl(var(--primary));
		border-radius: 100vw;
		margin-block: 0.5em;
	}

	*::-webkit-scrollbar-thumb {
		background-color: hsl(var(--background));
		border-radius: 100vw;
		border: 2px solid hsl(var(--primary));
	}

	*::-webkit-scrollbar-thumb:hover {
		background-color: hsl(var(--secondary));
	}
}
